.icon {
  height: 70px;
  text-decoration: none;
  margin-left: 20px;
  margin-top: 20px;
  display: flex;

  img {
    height: 100%;
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
  }
}
.logo {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 35px;
  height: 100%;
  width: 70px;
  transition: ease 0.3s;
  cursor: pointer;
  p {
    margin-top: 16px;
    padding-left: 8px;
    font-weight: 600;
    font-size: 28px;
    opacity: 0;
    transition: ease 0.2s;
    transform: translateX(-70%);
    cursor: pointer;
  }
  &:hover {
    width: 190px;
    p {
      opacity: 1;
      transition: ease 0.3s;
      transform: translateX(0);
    }
  }
}

.hero {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .hero-text {
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 40px;
    padding: 0 20px;
    span {
      color: #32a8db;
      font-size: 44px;
    }
  }
  h2 {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    text-align: center;
    margin-top: 0px;
    padding: 0 20px;
    font-size: 24px;
    width: 58%;
    span {
      color: #32a8db;
      font-size: 25px;
      font-weight: 600;
    }
  }
}

form {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  max-width: 1190px;
  width: 100%;
  .link-icon {
    height: 25px;
    width: 25px;
    object-fit: cover;
    position: absolute;
    left: 0;
    margin-left: 16px;
  }
  input {
    max-width: 1190px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    height: 56px;
    padding: 10px;
    padding-left: 50px;
    font-family: Poppins;
    font-size: 16px;
    color: #fff;
    border-radius: 50px;
    &:focus {
      border: 1px solid #fff;
    }
    &:active {
      border: 1px solid #fff;
    }
  }
  button {
    position: absolute;
    right: 0;
    background-color: rgba(0, 0, 0, 0.88);
    height: 30px;
    width: 38px;
    border-radius: 30px;
    margin-right: 10px;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
  }
}
.article-section {
  max-width: 86%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  flex-direction: column;
}

.copy-btn {
  background-color: rgba(0, 0, 0, 0.2);
  height: 40px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  margin-left: 20px;
  img {
    height: 20px;
    width: 20px;
    cursor: pointer;
    margin-top: 1px;
  }
}

.links-holder {
  padding-bottom: 70px;
}

.all-links {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 1000px;
  p {
    margin-left: 30px;
    padding-right: 40px;
    font-size: 16px;
    font-weight: 500;
    width: 90%;
    margin-top: 14px;
    color: #48aed6;
    cursor: pointer;
  }
}

.past {
  margin: 30px 0 20px 0;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30vh;
  img {
    width: 80px;
    height: 80px;
  }
}

.article-holder {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.4);
  min-height: 50vh;
  border-radius: 40px;
  max-width: 1190px;
  margin-top: 10px;
  margin-bottom: 40px;
  h2 {
    font-size: 30px;
    text-align: center;
    padding-top: 36px;
  }
  .copy-btn2 {
    background-color: rgba(0, 0, 0, 0.2);
    height: 40px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin-left: 20px;
    position: absolute;
    right: 40px;
    top: 38px;
    img {
      height: 20px;
      width: 20px;
      cursor: pointer;
      margin-top: 1px;
    }
  }
  p {
    letter-spacing: 0.25px;
    font-size: 19px;
    color: #3cbef6;
    font-weight: 400;
    padding: 10px 40px 24px 40px;
  }
}

h2 {
  font-size: 28px;
}
